<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8" />

    <!-- Title Tag -->
    <title>Mouse&Cats</title>
<!--

November Template

http://www.templatemo.com/tm-473-november

-->
    <!-- <<Mobile Viewport Code>> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}"/>

    <!-- <<Attched Stylesheets>> -->
    <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Oswald, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg th{font-family:Oswald, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
    .tg .tg-7btt{font-weight:bold;border-color:inherit;text-align:center;vertical-align:top}
    </style>
    <link rel="stylesheet" href="{% static 'styles/theme.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'styles/media.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'styles/font-awesome.min.css' %}" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,600italic,400italic,800,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    {% endblock extra_css %}

    {% block extra_js %}
    <!-- <<Attched Javascripts>> -->
    <script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    {% endblock extra_js %}

</head>
<body>

<!-- \\ Begin Holder \\ -->
<div class="DesignHolder">
	<!-- \\ Begin Frame \\ -->
	<div class="LayoutFrame">
        <!-- \\ Begin Header \\ -->
        <header>
            <div class="Center">
                <div class="site-logo">
                	<h1><a href="{% url 'index' %}">Mouse<span>&</span>Cats</a></h1>
                </div>
               <div id="mobile_sec">
               <div class="mobile"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
                <div class="menumobile">
                    <!-- \\ Begin Navigation \\ -->
                    <nav class="Navigation">
                        <ul>
                          {% if request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'create_game' %}">Create<br>Game</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="{% url 'select_game' 'join'%}">Join<br>Game</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="{% url 'select_game' 'play'%}">Play<br>Game</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                                <a href="{% url 'select_game' 'reproduce'%}">Reproduce<br>Game</a>
                                <span class="menu-item-bg"></span>
                            </li>
                            <li>
                              <a href="{% url 'logout' %}">Welcome <b>{{ request.user.username }}</b>!<br>Logout</a>
                              <span class="menu-item-bg"></span>
                            </li>
                      {% else %}
                            <li>
                              <a href="{% url 'login' %}">Login</a>
                              <span class="menu-item-bg"></span>
                            </li>
                            <li>
                              <a href="{% url 'signup' %}">Register</a>
                              <span class="menu-item-bg"></span>
                            </li>
                      {% endif %}
                        </ul>
                    </nav>
                    <!-- // End Navigation // -->
				</div>
				</div>
                <div class="clear"></div>
            </div>
        </header>
        <!-- // End Header // -->
        <!-- \\ Begin Container \\ -->
        <div id="Container">
        <!-- \\ Begin Services Section \\ -->
        {% block content %}
        {% endblock content %}
        </div>
        <!-- // End Services Section // -->
        <!-- \\ Begin Contact Section \\ -->
        <div class="Contact_sec" id="contact">


                <!-- \\ Begin Get Section \\ -->
                <div class="Get_sec">

                    <!-- \\ Begin Footer \\-->
                    <footer>
                        <div class="Cntr">
                            <p>LOGIC: DAVID CABORNERO Y SERGIO GALÁN<br>DESIGN: <a rel="nofollow" href="http://www.templatemo.com" target="_parent">TEMPLATEMO</a><br>TEMPLATE: NOVEMBER</p>
                        </div>
                    </footer>
                    <!-- // End Footer // -->
                </div>
                <!-- // End Get Section // -->

            </div>
            <!-- // End Contact Section // -->
        </div>
        <!-- // End Container // -->
	</div>
	<!-- // End Layout Frame // -->
</div>
<!-- // End Design Holder // -->
<div id="loader-wrapper">
<div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>

</body>
</html>
