{% extends "mouse_cat/base.html" %}
{% load staticfiles %}
{% load logic_tags %}

{% block content %}
<div class="Services_sec" id="services">
  <div class="Center">
    {% if type == "play" %}
    <h2>Play</h2>
    <p>Game: <b>{{ game.id }}</b></p>
    <form id="move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        {{ move_form }}
        <p>
            Cats: <b>{{ game.cat_user.username }}</b>
            {% if game.cat_user.id == request.user.id %}
                <blockquote class="cat">
                    {% if game.cat_turn %}
                    {% else %}
                        <p>Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' type %}">Refresh</a></p>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
        <p>
            Mouse: <b>{{ game.mouse_user.username }}</b>
            {% if game.mouse_user.id == request.user.id %}
                <blockquote class="mouse">
                    {% if not game.cat_turn %}
                    {% else %}
                        <p>Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' type %}">Refresh</a></p>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
    </form>

    {% if board %}
        <table id="chess_board" style="margin: 0 auto;">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            {% if forloop.counter0|modulo:16 < 8 %}
              {% if forloop.counter0|divisibleby:2 %}
                <td id="cell_{{ forloop.counter0}}" class='droppable' style='background-color:white;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
              {% else %}
                <td id="cell_{{ forloop.counter0}}" class='droppable' style='background-color:navy;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
              {% endif %}
            {% else %}
              {% if forloop.counter0|divisibleby:2 and forloop.counter0|divisibleby:2 %}
                <td id="cell_{{ forloop.counter0}}" class='droppable' style='background-color:navy;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
              {% else %}
                <td id="cell_{{ forloop.counter0}}" class='droppable' style='background-color:white;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
              {% endif %}
            {% endif %}
                {% if item ==  0 %}
                {% elif item == 1 %}
                  {% if game.cat_turn and game.cat_user.id == user.id %}
                    <img class='draggable' style='display:block;margin:0;' src="{% static 'img/resizecat.png' %}" alt="Cat">
                  {% else %}
                    <img style='display:block;margin:0;' src="{% static 'img/resizecat.png' %}" alt="Cat">
                  {% endif %}
                {% else %}
                  {% if not game.cat_turn and game.mouse_user.id == user.id %}
                    <img class='draggable' style='display:block;margin:0;' src="{% static 'img/resizemouse.png' %}" alt="Mouse">
                  {% else %}
                    <img style='display:block;margin:0;' src="{% static 'img/resizemouse.png' %}" alt="Mouse">
                  {% endif %}
                {% endif %}
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
        {% endfor %}
        </table>
    {% endif %}

    {% elif type == "reproduce" %}
      <h2>Reproduce</h2>
      <p>Game: <b>{{ game.id }}</b></p>
      <p>Cats: <b>{{ game.cat_user.username }}</b></p>
      <p>Mouse: <b>{{ game.mouse_user.username }}</b></p>
      <input id="prevbutton" type="button" name="prev" value="<-Previous" disabled>
      <input id="nextbutton" type="button" name="next" value="Next->">
      <input id="autoplay" type="button" name="auto" value="Autoplay">
      <table id="chess_board" style="margin: 0 auto;">
      {% for item in board %}
          {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
          {% if forloop.counter0|modulo:16 < 8 %}
            {% if forloop.counter0|divisibleby:2 %}
              <td id="cell_{{ forloop.counter0}}" style='background-color:white;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
            {% else %}
              <td id="cell_{{ forloop.counter0}}" style='background-color:navy;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
            {% endif %}
          {% else %}
            {% if forloop.counter0|divisibleby:2 and forloop.counter0|divisibleby:2 %}
              <td id="cell_{{ forloop.counter0}}" style='background-color:navy;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
            {% else %}
              <td id="cell_{{ forloop.counter0}}" style='background-color:white;height:30px;width:30px;border:1px solid #000000;text-align:center;vertical-align:middle;'>
            {% endif %}
          {% endif %}
              {% if forloop.counter0 == 0 or forloop.counter0 == 2 or forloop.counter0 == 4 or forloop.counter0 == 6 %}
                <img style='display:block;margin:0;' src="{% static 'img/resizecat.png' %}" alt="Cat">
              {% elif forloop.counter0 == 59 %}
                <img style='display:block;margin:0;' src="{% static 'img/resizemouse.png' %}" alt="Mouse">
              {% endif %}
          </td>
          {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
      {% endfor %}
      </table>
    {% endif %}

    <p><i class="fa fa-arrow-left"></i><a href="{% url 'landing' %}">Return to homepage</a></p>
  </div>
</div>
{% endblock content %}
