{% extends "mouse_cat/base.html" %}

{% load staticfiles %}

{% block content %}
<div class="Services_sec" id="services">
    <div class="Center">
        <h2>Welcome to our Mouse&Cats app!</h2>
        <p>Read the manual to know how to use this app and use the menu above to start playing!</p>
        <img class="Main" src="{% static 'img/mc_portada.jpg' %}" alt="Portada">
        <div class="Line"></div>
    </div>
</div>
<!--
<div id="content">
    <h1>Service catalog</h1>

    <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
        <li><a href="{% url 'counter' %}">Counter</a></li>
        <li><a href="{% url 'create_game' %}">Create game</a></li>
        <li><a href="{% url 'join_game' %}">Join game</a></li>
        <li><a href="{% url 'select_game' %}">Select game</a></li>
        <li><a href="{% url 'show_game' %}">Show selected game and play</a></li>
    </ul>
</div>
//-->
{% endblock content %}
