{% extends "mouse_cat/base.html" %}

{% block content %}
<div class="Services_sec" id="services">
  <div class="Center">
    <h2>Join game</h2>
    {% if msg_error %}
        <p class="error">{{ msg_error }}</p>
    {% else %}
        <p><b>{{ game.mouse_user.username }}</b> succesfully joined to game <b>{{ game.id }}</b>. The game can start!!!</p>
    {% endif %}
    <p><i class="fa fa-arrow-left"></i><a href="{% url 'landing' %}">Return to homepage</a></p>
  </div>
</div>
{% endblock content %}
