{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
<!-- <div id="content">
    <h1>Select game</h1>
    <p>
        {% if as_cat %}
            Games as cat:
            <ul>
            {% for game in as_cat %}
                <li> <a href="{% url 'select_game' game.id %}">{{ game }}</a></li>
            {% endfor %}
            </ul>
        {%  else %}
            No games as cat
        {% endif %}
    </p>

    <p>
        {% if as_mouse %}
            Games as mouse:
            <ul>
            {% for game in as_mouse %}
                <li> <a href="{% url 'select_game' game.id %}">{{ game }}</a></li>
            {% endfor %}
            </ul>
        {%  else %}
            No games as mouse
        {% endif %}
    </p>

    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div> -->

<div class="Services_sec" id="services">
  <div class="Center">
    <h2>{{ type }} game</h2>
    {% if games %}
          <ul>
            {% for game in games %}
              <li>
                <table class="tg dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped">
                  <tr>
                    <th class="tg-7btt" style="background-color:navy">{{game.cat_user}}</th>
                    {% if type != "join" %}
                      <th class="tg-7btt" style="background-color:lightblue;">{{game.mouse_user}}</th>
                    {% else %}
                      <th class="tg-7btt" style="background-color:lightblue;">Free</th>
                    {% endif %}
                    <th class="tg-c3ow1" rowspan="3">Game: {{game.id}}<br><br><a class="abutton" href="{% url 'select_game' type game.id%}">
                      {% if type == "join" %}
                      Join
                      {% elif type == "play" %}
                      Play
                      {% elif type == "reproduce" %}
                      Reproduce
                      {% endif %}
                    </a></th>
                  </tr>
                  <tr>
                    <td class="tg-c3ow" rowspan="2"><img src="{% static 'img/resizemouse.png' %}" alt="Mouseimg"></td>
                    <td class="tg-c3ow" rowspan="2"><img src="{% static 'img/resizecat.png' %}" alt="Catimg"></td>
                  </tr>
                  <tr>

                  </tr>
                </table>
              </li>
              <hr>
            {% endfor %}
          </ul>
    {% else %}
        <p>Sorry, there is no game you can {{type}}.</p>
    {% endif %}
    <p><i class="fa fa-arrow-left"></i><a href="{% url 'landing' %}">Return to homepage</a></p>
  </div>
</div>
{% endblock content %}
