{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="Services_sec" id="services">
  <div class="Center">
    <h2>{{ type }} game</h2>
    {% if games %}
    {% if type == 'join' %}
    {% else %}
      <p>Filter by:
        {% if extrafilter == 'ascats' %}
          <a href="{% url 'select_game' type %}">All</a>|As Cats|<a href="{% url 'select_game' type 'asmouse' %}">As Mouse</a>
        {% elif extrafilter == 'asmouse'%}
          <a href="{% url 'select_game' type %}">All</a>|<a href="{% url 'select_game' type 'ascats' %}">As Cats</a>|As Mouse
        {% else %}
          All|<a href="{% url 'select_game' type 'ascats' %}">As Cats</a>|<a href="{% url 'select_game' type 'asmouse' %}">As Mouse</a>
        {% endif %}
      </p>
    {% endif %}
          <ul>
            {% for game in games %}
              <li>
                <table class="tg dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped">
                  <tr>
                    <th class="tg-7btt" style="background-color:navy">{{game.cat_user}}</th>
                    {% if type != "join" %}
                      <th class="tg-7btt" style="background-color:lightblue;">{{game.mouse_user}}</th>
                    {% else %}
                      <th class="tg-7btt" style="background-color:lightblue;">Free</th>
                    {% endif %}
                    <th class="tg-c3ow1" rowspan="3">Game: {{game.id}}<br><br><a class="abutton" href="{% url 'select_game' type game.id%}">
                      {% if type == "join" %}
                      Join
                      {% elif type == "play" %}
                      Play
                      {% elif type == "reproduce" %}
                      Reproduce
                      {% endif %}
                    </a></th>
                  </tr>
                  <tr>
                    <td class="tg-c3ow" rowspan="2"><img src="{% static 'img/resizecat.png' %}" alt="Catimg"></td>
                    <td class="tg-c3ow" rowspan="2"><img src="{% static 'img/resizemouse.png' %}" alt="Mouseimg"></td>
                  </tr>
                  <tr>

                  </tr>
                </table>
              </li>
              <hr>
            {% endfor %}
          </ul>
          <div class="pagination">
    <span class="step-links">
        {% if games.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ games.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ games.number }} of {{ games.paginator.num_pages }}.
        </span>

        {% if games.has_next %}
            <a href="?page={{ games.next_page_number }}">next</a>
            <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
    {% else %}
        <p>Sorry, there is no game you can {{type}}.</p>
    {% endif %}
    <p><i class="fa fa-arrow-left"></i><a href="{% url 'landing' %}">Return to homepage</a></p>
  </div>
</div>
{% endblock content %}
